<!DOCTYPE html>
<html>
    <head>
        <title>Carbon Footprint Awareness</title>
        <meta charset="utf-8">
        <meta name="viewport" content ="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./static/styles.css">
    </head>
    
    
    <body>
        <!--header-->
        <header id="header">
            <div class="inner">
                <nav id="nav">
                    <a href="/">
                        <font size="5"><u class="nav-bar">Home</u></font>
                    </a>
                    <a href="/tracker">
                        <font size="5"><u class="nav-bar">Carbon Tracker</u></font>
                    </a>
                    <a href="/about">
                        <font size ="5"><u class="nav-bar">Data Analysis</u></font>
                    </a>
                </nav>
                <a href="#navPanel" class="navPanelToggle">
                    <span class="fa fa-bars"></span>
                </a>
            </div>            
        </header>
        <hr>
      
        <!--top main banner--> 
        <section id="banner">
            <h1>Carbon Footprint Awareness</h1>
            <p style="color: black; font-size: larger;">By: Ashwin Babu, Raadwan Masum, Rishi Peddakama, and Alvin Zheng
               <br> 
               The Helyx Initiative - Hack the Helyx Hackathon</p>
        </section>   
      
        <!--section one-->
        <section id="one" class="wrapper">
            <div class="inner">
                <div class="flex flex-3">
                    <h2><b>To check out our amazing program, navigate to the Carbon Tracker page!</b></h2>
                    <a href="tracker.html" class="button special">Carbon Tracker</a>
                    <!--article one-->
                    <article>
                        <header>
                            <h3 style="font-weight: bold; font-size:xx-large;">
                                What is a <b>carbon footprint</b>?
                            </h3>
                        </header>

                        <p style="color: black; font-size: larger;">
                            A carbon footprint is the <u>amount of CO2 (carbon dioxide) that is released from a particular human activity</u>. Because CO2 is a "greenhouse gas", or a gas that absorbs and emits radiant energy withint the thermal infrared range, they get trapped in our atmosphere and <b>emit heat</b>. This causes our global temperature to rise, thus paving the way for devastation as a result of <b>global warming</b> (including climate change). 
                        </p>
                        <footer>
                            <a href="http://www.takepart.com/flashcards/what-is-a-carbon-footprint/index.html" class="button special">More</a>
                        </footer>
                    </article>

                    <!--article two-->
                    <article>
                        <header>
                            <h3 style="font-weight: bold; font-size:xx-large;">
                                Why do <b>carbon footprints</b> matter to us?
                            </h3>
                        </header>

                        <p style="color: black; font-size: larger;">
                            This matters because when the global temperature rises it can cause a multitude of issues, which can be narrowed down to: Altering of <b>cryosphere</b> (ice-based regions of Earth) and <b>oceans</b>, agriculture is compromised (leading to <b>starvation</b>), and natural habitats and dying (<b>habitat loss</b> in areas such as the Arctic, coral reefs, and forests can lead to <b>massive death or extinction</b> of animals crucial to the <b>Earth's ecosystem</b>). 
                        </p>
                        <footer>
                            <a href="https://www.gaiam.com/blogs/discover/how-does-your-carbon-footprint-impact-climate-change" class="button special">More</a>
                        </footer>
                    </article>

                    <!--article three-->
                    <article>
                        <header>
                            <h3 style="font-weight: bold; font-size:xx-large;">
                                What does the food scanner do?
                                <br>
                                How can it help us?
                            </h3>
                        </header>

                        <p style="color: black; font-size: larger;">
                            Our food scanner uses visual processing in Python to identify the food you scan, but if you do not have a camera, you can type in the 12-digit barcode id. It will then scan a database and through a trained artificial intelligence program (neural network), the scanner will identify the carbon footprint of the item you are consuming.
                            <br>
                            This can help the cause to combat climate change and environmental issues by giving individuals the knowledge they need to make good choices. We will provide the user with statistics based on the food they have chosen to consume.
                        </p>
                        <footer>
                            <a href="tracker.html" class="button special">Try it out</a>
                        </footer>
                    </article>
                </div>
            </div>
        </section>

        <!--section two-->
        <section id="two" class="wrapper style1 special">
            <div class="inner">
                <header>
                    <h2 style="font-weight: bold; font-size:xx-large;">The Team</h2>
                    <p>The 4 individuals who created this project</p>
                </header>

                <div class="flex flex-4">
                    <div class="box person">
                        <img class="about-image" src="./static/img/ashwin_babu.jpeg" alt="Ashwin Babu">
                        <h3>Ashwin Babu</h3>
                        <p>Executive frontend and server control developer</p>
                    </div>

                    <div class="box person">
                        <img class="about-image" src="./static/img/raadwan.jpg" alt="Raadwan Masum">
                        <h3>Raadwan Masum</h3>
                        <p>Executive vision processing and data analytics programmer</p>
                    </div>

                    <div class="box person">
                        <img class="about-image" src="./static/img/generic.png" alt="Alvin Zheng">
                        <h3>Alvin Zheng</h3>
                        <p>Executive vision processing developer and lead artificial intelligence programmer</p>
                    </div>

                    <div class="box person">
                        <img class="about-image" src="./static/img/rishi.jpg" alt="Rishi Peddakama">
                        <h3>Rishi Peddakama</h3>
                        <p>Executive artifical intelligence developer</p>
                    </div>
                </div>
            </div>
        </section>

        <!--section three (scanner)-->


        <!--footer and copyright-->
        <footer id="footer">
            <div class="inner">
                <div class="flex">
                    <div class="copyright" style="color: black;">
                        &copy; 2020 Ashwin Babu, Raadwan Masum, Alvin Zheng, Rishi Pedakkama.
                    </div>
                </div>
            </div>
        </footer>


        <script src="./static/app.js"></script>
    </body>
</html>
